<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858025794307-t70a8s4vggibo5u1faqfaedcstkpjfvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858025794307-t70a8s4vggibo5u1faqfaedcstkpjfvq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9am5rufFALfagdCxbq7MVNk691kUbgk8</string>
	<key>GCM_SENDER_ID</key>
	<string>858025794307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ortonhsieh.SoulSafe</string>
	<key>PROJECT_ID</key>
	<string>soulsafe-4c36e</string>
	<key>STORAGE_BUCKET</key>
	<string>soulsafe-4c36e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:858025794307:ios:d5fd08234e8fa4038ca736</string>
</dict>
</plist>
